page-about {

  ion-content {
    color: white !important;
    font-family: Palanquin-Light, sans-serif;

    #info-icon {
      width: 18vw;
    }

    .text {
      text-align: left;
      line-height: 1.4;
      font-size: 4vw;
    }

  }

}
