page-about {

  ion-content {
    color: white !important;
    font-family: Palanquin-Light, sans-serif;

    img {
      width: 18vw;
    }

    .about-text {
      text-align: justify;
      line-height: 1.4;
      font-size: 4vw;
    }
  }

}
