<ion-header no-border>
  <ion-navbar color="header">

    <ion-buttons start>
      <button ion-button icon-only clear navPop>
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ placeName }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onSaveFavorite()" [disabled]="favoriteIsSaved">
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content no-bounce class="gradient-background" (ionScroll)="onScroll($event)">

  <ion-fab bottom right class="animated bounceIn" *ngIf="showGoTopButton">
    <button ion-fab mini (click)="onScrollToTop()" color="clearMain">
      <ion-icon name="arrow-up"></ion-icon>
    </button>
  </ion-fab>

  <ion-grid class="page-grid-top">
    <ion-row align-items-center>
      <ion-col>
        <img src="assets/img/lake.png" class="lake" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="page-grid-bottom">
    <ion-row align-items-center>
      <ion-col padding>

        <button ion-button round block icon-left class="place-button" (click)="onFindPlace()">
          <ion-icon name="md-open"></ion-icon>
          Hitta hit
        </button>

        <button ion-button round block icon-left class="place-button" (click)="onScrollToWeather()">
          <ion-icon name="sunny"></ion-icon>
          Väder
        </button>

        <button ion-button round block icon-left class="place-button" (click)="onScrollToQuality()">
          <ion-icon name="md-ribbon"></ion-icon>
          Badvattenkvalité
        </button>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="page-grid" id="weather-grid">
    <ion-row align-items-center>
      <ion-col>

        <div id="spinner-div" *ngIf="showSpinner && !weatherDataIsFetched">
          <ion-spinner name="bubbles" class="loader-spinner"></ion-spinner>
        </div>

        <div id="retry-button-div" *ngIf="!showSpinner && !weatherDataIsFetched">

          <p>Vädret för badplatsen kunde inte hämtas</p>

          <button ion-button round outline color="light" icon-left (click)="getWeatherData()">
            <ion-icon name="refresh-circle"></ion-icon>
            Försök igen
          </button>
        </div>

        <div id="weather-container" *ngIf="!showSpinner && weatherDataIsFetched">

          <ion-row>
            <ion-col>
              <div id="hour">{{ day }}, kl. {{ hour }}</div>
              <span id="temperature">{{ temperature }}°</span>
              <img src="assets/img/weather-icons/{{icon}}.png" id="icon" />
            </ion-col>
          </ion-row>

          <h2 id="summary-topic">{{ summary }}</h2>
          <p id="summary-text">{{ daySummary }} <span *ngIf="sunsetTime">Solen kommer gå ner Kl. {{ sunsetTime }}</span></p>

          <ion-range min="0" max="47" [(ngModel)]="hoursCounter" color="clearMain" (ionChange)="onHourChange()">
            <ion-icon small range-left name="time"></ion-icon>
            <ion-icon range-right name="time"></ion-icon>
          </ion-range>

          <img src="assets/img/darksky-logo.png" class="darksky-img" (click)="onVisitDarkSky()" />

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid id="quality-grid" class="page-grid">
    <ion-row align-items-center>
      <ion-col>

        <img src="assets/img/place-quality.png" id="quality-icon" />

        <h1>Klassificering</h1>
        <h2>{{ classification }}</h2>

        <h3>EU-bad</h3>
        <h4>{{ euBath }}</h4>

        <h5>Klassificerades</h5>
        <h6>{{ year }}</h6>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>