<ion-header no-border>
  <ion-navbar color="header">

    <ion-buttons start>
      <button ion-button icon-only clear navPop>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ placeName }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only clear (click)="onFindPlace()">
        <ion-icon name="md-map"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onSaveFavorite()" [disabled]="favoriteIsSaved">
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content no-bounce padding class="gradient-background">

  <ion-slides pager>

    <ion-slide>

      <div id="weather-slide">
        <div id="spinner-div" *ngIf="showSpinner && !weatherDataIsFetched">
          <ion-spinner name="bubbles" class="loader-spinner"></ion-spinner>
        </div>

        <div id="retry-button-div" *ngIf="!showSpinner && !weatherDataIsFetched">
          <button ion-button round outline color="light" icon-left (click)="getWeatherData()">
            <ion-icon name="refresh-circle"></ion-icon>
            Försök igen
          </button>
        </div>

        <div id="weather-container" *ngIf="!showSpinner && weatherDataIsFetched">
          <div>
            <img src="assets/img/weather-icons/large/{{icon}}.png" />
            <h1>{{ temperature }}</h1>
            <h2>{{ summary }}</h2>

            <div id="weather-summary">
              <h3>
                {{ daySummary }}
                <span *ngIf="sunsetTime">
                Solen kommer gå ner Kl. {{ sunsetTime }}
              </span>
              </h3>
            </div>

          </div>

          <ion-scroll scrollX="true">
            <ul *ngFor="let hour of weatherByHours" id="hourly-container">
              <li class="hour">{{ hour.h }}</li>
              <li><img src="assets/img/weather-icons/small/{{hour.i}}.png" /></li>
              <li class="temperature">{{ hour.t }}°</li>
            </ul>
          </ion-scroll>

          <img src="assets/img/darksky-logo.png" class="darksky-img" (click)="onVisitDarkSky()" />

        </div>
      </div>

    </ion-slide>

    <ion-slide>

      <div id="quality-slide">
        <img src="assets/img/place-quality.png" id="quality-icon" />

        <h1>Klassificering</h1>
        <h2>{{ classification }}</h2>

        <h3>EU-bad</h3>
        <h4>{{ euBath }}</h4>

        <h5>Gäller för</h5>
        <h6>{{ year }}</h6>
      </div>

    </ion-slide>

  </ion-slides>


  <!--
  <ion-grid id="weather-grid">
    <ion-row align-items-center>
      <ion-col>

        <div id="spinner-div" *ngIf="showSpinner && !weatherDataIsFetched">
          <ion-spinner name="bubbles" class="loader-spinner"></ion-spinner>
        </div>

        <div id="retry-button-div" *ngIf="!showSpinner && !weatherDataIsFetched">
          <button ion-button round outline color="light" icon-left (click)="getWeatherData()">
            <ion-icon name="refresh-circle"></ion-icon>
            Försök igen
          </button>
        </div>

        <div id="weather-container" *ngIf="!showSpinner && weatherDataIsFetched">
          <div>
            <img src="assets/img/weather-icons/large/{{icon}}.png" />
            <h1>{{ temperature }}</h1>
            <h2>{{ summary }}</h2>
            <h3>
              {{ daySummary }}
              <span *ngIf="sunsetTime">
                Solen kommer gå ner Kl. {{ sunsetTime }}
              </span>
            </h3>
          </div>

          <ion-scroll scrollX="true">
            <ul *ngFor="let hour of weatherByHours" id="hourly-container">
              <li class="hour">{{ hour.h }}</li>
              <li><img src="assets/img/weather-icons/small/{{hour.i}}.png" /></li>
              <li class="temperature">{{ hour.t }}°</li>
            </ul>
          </ion-scroll>

          <img src="assets/img/darksky-logo.png" class="darksky-img" (click)="onVisitDarkSky()" />

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid id="quality-grid">
    <ion-row align-items-center>
      <ion-col>

        <img src="assets/img/place-quality.png" id="quality-icon" />

        <h1>Klassificering</h1>
        <h2>{{ classification }}</h2>

        <h3>EU-bad</h3>
        <h4>{{ euBath }}</h4>

        <h5>Gäller för</h5>
        <h6>{{ year }}</h6>

      </ion-col>
    </ion-row>
  </ion-grid>

  -->

</ion-content>