page-place {

  ion-content {
    color: white !important;
    font-family: Palanquin-Light, sans-serif;
    background: linear-gradient(45deg, #00b0ff 0%,#69f0ae 100%) !important;
  }

  /* First section */
  .main-grid-top {
    height: 55%;
    background-image: url("../assets/img/water-white.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;

    .lake {
      width: 50vw;
    }
  }
  .main-grid-bottom {
    height: 45%;
    background-color: white;

    .place-button {
      background: linear-gradient(45deg, #00b0ff 0%, #69f0ae 100%);
      box-shadow: 0 2px 5px rgba(178, 235, 242, 0.5);
      font-weight: bold;
      margin-bottom: 8px;
      font-family: Montserrat-Black, cursive;
    }
  }
  .main-grid-top ion-row, .main-grid-bottom ion-row {
    height: 100%;
    ion-col {
      text-align: center;
    }
  }

  #weather-grid {
    background-image: url("../assets/img/water-white2.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;

    .loader-spinner * {
      fill: white;
      stroke: white;
    }

    #retry-row {
      text-align: center;
      margin: 0 auto;
      p {
        font-size: 5vw;
        line-height: 1.4;
      }
    }

    #weather-top-row {
      background-image: url("../assets/img/clouds.png");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;
    }
    #weather-bottom-row {
      background-color: white;
      color: #40c4ff;
      font-family: OpenSans-Regular, sans-serif;

      #todays-summery-container {
        padding: 12px;

        h4 { font-weight: bold; }
        p {
          font-size: 5vw;
          line-height: 1.4;
          text-align: left;
        }
      }

      .darksky-img {
        margin-top: 24px;
        max-width: 52vw;
        width: auto;
        height: auto;
      }
    }
  }

  #weather-container {
    font-family: OpenSans-Regular, sans-serif;
    margin-bottom: 16px;

    #temperature {
      font-size: 14vw;
      margin-top: 0;
    }
    #icon {
      text-align: right;
      width: 14vw;
      height: auto !important;
      margin-left: 8px;
      margin-bottom: 16px;
    }
    #summary-topic {
      font-size: 6vw;
      margin: 0;
    }
    #summary-text {
      font-size: 5vw;
      line-height: 1.4;
    }
  }

  #quality-grid {
    font-family: OpenSans-Regular, sans-serif;

    #quality-icon {
      width: 22vw;
      height: auto;
      margin-bottom: 12px;
    }
    h1, h3, h5 {
      margin: 0;
      font-size: 5vw;
      font-family: Palanquin-Regular, sans-serif;
    }
    h2, h4, h6 {
      font-family: Palanquin-Light, sans-serif;
      margin: 0 0 12px 0;
      font-size: 6vw;
    }
  }

}