<ion-header no-border>

  <ion-navbar color="header">

    <ion-buttons start>
      <button ion-button icon-only clear navPop>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ placeName }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only clear (click)="onFindPlace()">
        <ion-icon name="md-map"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onSaveFavorite()" [disabled]="favoriteIsSaved">
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-toolbar color="header">
    <ion-segment [(ngModel)]="placeInfo" color="light">
      <ion-segment-button value="weather" isActive>
        Väder
      </ion-segment-button>
      <ion-segment-button value="quality">
        Badvattenkvalité
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding no-bounce class="gradient-background">

  <ion-grid no-padding>
    <ion-row align-items-center>
      <ion-col>
        <div [ngSwitch]="placeInfo">

          <div *ngSwitchCase="'weather'" id="weather-container">

            <ion-spinner name="bubbles" *ngIf="showSpinner" class="loader-spinner"></ion-spinner>

            <button ion-button round outline color="light" icon-left *ngIf="!showSpinner && !weatherDataIsFetched" (click)="getWeatherData()">
              <ion-icon name="refresh-circle"></ion-icon>
              Försök igen
            </button>

            <div *ngIf="weatherDataIsFetched">

              <div id="weather-summary">
                <img src="../../../assets/img/weather-icons/large/{{icon}}.png" />
                <h1>{{ temperature }}</h1>
                <h2>{{ summary }}</h2>

                <h3>
                  {{ daySummary }}
                  <span *ngIf="sunsetTime">
                    Solen kommer gå ner Kl. {{ sunsetTime }}
                  </span>
                </h3>
              </div>

              <ion-scroll scrollX="true" id="weather-details">
                <ul *ngFor="let hour of weatherByHours" id="hourly-container">
                  <li class="hour">{{ hour.h }}</li>
                  <li><img src="../../../assets/img/weather-icons/small/{{icon}}.png" /></li>
                  <li class="temperature">{{ hour.t }}°</li>
                </ul>
              </ion-scroll>

              <!-- Absolute position -->
              <img src="../../assets/img/darksky-logo.png" class="darksky-img" (click)="onVisitDarkSky()" />

            </div>
          </div>

          <div *ngSwitchCase="'quality'" id="quality-container">

            <img src="../../assets/img/place-quality.png" id="quality-icon" />

            <div id="stars-container">
              <img src="../../assets/img/star.png" class="star-icon" *ngFor="let star of stars" />
            </div>

            <h1>Klassificering</h1>
            <h2>{{ classification }}</h2>

            <h3>EU-bad</h3>
            <h4>{{ euBath }}</h4>

            <h5>Gäller för</h5>
            <h6>{{ year }}</h6>

          </div>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
