page-place {

  #header-grid ion-col {
    text-align: center;
    button {
      box-shadow: none;
    }
  }

  ion-content {
    color: white !important;
    font-family: Palanquin-Light, sans-serif;

    .loader-spinner * {
      fill: white;
      stroke: white;
    }
  }

  #weather-container {
    margin-bottom: 16px;

    #temperature {
      font-size: 16vw;
      margin-top: 0;
    }
    #icon {
      width: 25vw;
      height: auto !important;
    }
    #summary-topic {
      font-size: 7vw;
    }
    #summary-text {
      font-size: 5vw;
      text-align: left;
    }
    .darksky-img {
      max-width: 45vw;
      width: auto;
      height: auto;
    }
  }

  #quality-grid {
    height: 100%;

    #quality-icon {
      width: 22vw;
      height: auto;
    }
    h1, h3, h5 {
      margin: 0;
      font-size: 6vw;
      font-family: Palanquin-Regular, sans-serif;
    }
    h2, h4, h6 {
      font-family: Palanquin-Light, sans-serif;
      margin: 0 0 12px 0;
      font-size: 5vw;
    }
  }

}