page-home {

  #map-button {
    ion-icon {
      color: white;
    }
    background: linear-gradient(45deg, #1de9b6 0%, #00e5ff 100%) !important;
    color: white !important;
    box-shadow: 0 2px 5px rgba(178, 235, 242, 0.3) !important;
    font-weight: bold;
  }
  #favorite-button {
    background: linear-gradient(45deg, #ff80ab 0%, #b388FF 100%) !important;
    box-shadow: 0 2px 5px rgba(248, 187, 208, 0.3) !important;
    color: white;
  }
  #about-button {
    color: #E8F5E9;
    background: transparent;
    border: 1px solid #E8F5E9;
    margin-right: 12px;
    margin-bottom: 12px;
    box-shadow: none;
  }

  .page-grid, .page-grid ion-row {
    z-index: 1000;
    ion-col {
      #logo-container {
        #logo-img {
          width: 20vw;
        }
        #logo-text {
          margin: 10px 0 0 0;
          font-family: PermanentMarker, cursive;
          font-size: 8vw;
          color: #E8F5E9;
        }
      }
      #buttons-container {
        margin-top: 24px;
        button {
          margin: 6px auto;
          font-family: Comfortaa-Regular, sans-serif;
        }
      }
    }
  }

  /* Wave animations */
  .wave {
    opacity: 0.6;
    position: absolute;
    top: -130vw;
    left: -30vw;
    background: white;
    width: 150vw;
    height: 150vw;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
  }
  .wave.-three {
    animation: drift 5000ms infinite linear;
  }
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: white;
  }
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }

}
