page-home {

  #heart-fab {
    color: white;
    background: linear-gradient(45deg, #FF4081 0%, #FF80AB 100%);
  }
  #info-fab {
    color: white;
    background: linear-gradient(45deg, #536DFE 0%, #8C9EFF 100%);
  }

  ion-content {
    color: white !important;
    font-family: Palanquin-Light, sans-serif;
    background: linear-gradient(45deg, #00b0ff 0%, #40c4ff 100%);
  }

  #map-button {
    margin-top: 36px !important;
    margin-bottom: 24px !important;
    ion-icon {
      color: white;
    }
    //background: linear-gradient(45deg, #536dfe 0%, #b388ff 100%) !important;
    background: linear-gradient(45deg, #1de9b6 0%, #00e5ff 100%) !important;
    color: white !important;
    box-shadow: 0 2px 5px rgba(178, 235, 242, 0.3) !important;
    font-weight: bold;
  }
  #favorite-button ion-icon {
    color: #FF4081;
  }
  #about-button ion-icon {
    color: #40C4FF;
  }

  ion-grid, ion-grid ion-row {
    z-index: 1000;

    ion-col {

      img {
        width: 14vw;
      }

      h1 {
        margin: 0;
        color: white;
        font-size: 6vw;
        font-family: Palanquin-Regular, sans-serif;
      }

      #buttons-container {
        margin-top: 24px;
        button {
          display: block !important;
          margin: 8px auto;
          font-family: Comfortaa-Regular, sans-serif;
        }
      }
    }
  }

  /* Wave animations */
  .wave {
    opacity: 0.6;
    position: absolute;
    top: -130vw;
    left: -30vw;
    background: white;
    width: 150vw;
    height: 150vw;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
  }
  .wave.-three {
    animation: drift 5000ms infinite linear;
  }
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: white;
  }
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }

}
