page-help {

  ion-card {
    box-shadow: none !important;
  }

  .help-item {
    h2 { font-family: Montserrat-Medium; }
    p {
      font-family: Montserrat-Medium;
      font-size: 4vw;
    }
  }

}
