page-help {

  .top-text {
    font-family: Montserrat-Medium;
    padding: 0 14px;
  }

  .help-item {
    h2 { font-family: Montserrat-Medium; }
    p {
      font-family: Montserrat-Medium;
      font-size: 4vw;
    }
  }

}
