page-map {

  #map {
    height: 100%;

    /* Cluster markers */
    div {
      font-size: 16px !important;
      font-weight: bold !important;
      color: white !important;

      img { width: 100%; }
    }
  }

}
