page-map {

  ion-select .select-icon-inner {
    color: white !important; // Set arrow color
  }

  #county-item {
    display: none;
  }

  #map {
    height: 100%;
    .cluster {
      div {
        font-size: 16px !important;
        font-weight: bold !important;
        color: white !important;
      }
      img { width: 100%; }
    }
  }

  .infobubble-content {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
    font-family: Comfortaa-Regular, sans-serif;
    font-size: 16px;
    padding: 4px 18px 4px 32px;
    background-position: left center, right center;
    background-repeat: no-repeat;
    background-size: 28px, 12px;
  }
  .place-bubble {
    background-image: url(../assets/img/swimming-blue.png), url(../assets/img/arrow.png);
  }
  .station-bubble {
    background-image: url(../assets/img/water-temperature.png), url(../assets/img/arrow.png);
  }

}
