page-map {

  #map {
    height: 100%;

    /* Cluster markers */
    .cluster {
      div {
        font-size: 16px !important;
        font-weight: bold !important;
        color: white !important;
      }
      img { width: 100%; }
    }
  }

  #navigate-fab {
    margin-bottom: 12px;
  }

  .place-card {
    z-index: 1000;
    position: absolute;
    top: 10px;
    background-color: white;

    h1, h2, h3 {
      margin: 0;
      text-align: center;
      font-family: Palanquin-Light, sans-serif;
    }
    h1 {
      font-size: 6vw;
      margin-bottom: 6px;
    }
    h2 {
      font-size: 4vw;
    }
    h3 {
      font-size: 3vw;
    }

    button {
      margin: 0;
    }
  }

}
