// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/* Palanquin */
@font-face {
  font-family: Palanquin-Light;
  src: url("../assets/fonts/Palanquin-Light.ttf");
}
@font-face {
  font-family: Palanquin-Regular;
  src: url("../assets/fonts/Palanquin-Regular.ttf");
}


/* Toasts */
.error-toast .toast-wrapper {
  background-color: #FFEBEE;
  .toast-message, .toast-button {
    color: #F44336 !important;
  }
}
.success-toast .toast-wrapper {
  background-color: #E8F5E9;
  .toast-message, .toast-button {
    color: #4CAF50 !important;
  }
}

/* Loading animation */
.loading-animation .loading-wrapper {
  .loading-content {
    color: #42A5F5;
  }
  ion-spinner * {
    fill: #42A5F5;
  }
}
