// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/* Palanquin */
@font-face {
  font-family: Palanquin-Light;
  src: url("../assets/fonts/Palanquin-Light.ttf");
}
@font-face {
  font-family: Palanquin-Regular;
  src: url("../assets/fonts/Palanquin-Regular.ttf");
}
/* Comfortaa */
@font-face {
  font-family: Comfortaa-Bold;
  src: url("../assets/fonts/Comfortaa-Bold.ttf");
}
@font-face {
  font-family: Comfortaa-Regular;
  src: url("../assets/fonts/Comfortaa-Regular.ttf");
}
@font-face {
  font-family: Comfortaa-Light;
  src: url("../assets/fonts/Comfortaa-Light.ttf");
}
/* Montserrat-Black */
@font-face {
  font-family: Montserrat-Black;
  src: url("../assets/fonts/Montserrat-Black.ttf");
}
/* Montserrat-Bold */
@font-face {
  font-family: Montserrat-Bold;
  src: url("../assets/fonts/Montserrat-Bold.ttf");
}
/* Montserrat-Regular */
@font-face {
  font-family: Montserrat-Regular;
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}
/* Montserrat-Medium */
@font-face {
  font-family: Montserrat-Medium;
  src: url("../assets/fonts/Montserrat-Medium.ttf");
}
/* Open Sans */
@font-face {
  font-family: OpenSans-Regular;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}
/* Ubuntu-Bold */
@font-face {
  font-family: Ubuntu-Bold;
  src: url("../assets/fonts/Ubuntu-Bold.ttf");
}

.page-grid, .page-grid ion-row {
  height: 100% !important;
  ion-col {
    text-align: center;
  }
}

ion-navbar {
  font-family: Montserrat-Bold;
}

.gradient-background {
  background: linear-gradient(45deg, #00b0ff 0%, #69f0ae 100%);
}

/* Toasts */
.error-toast .toast-wrapper {
  background-color: #FFEBEE;
  .toast-message, .toast-button {
    color: #F44336 !important;
    font-family: Montserrat-Medium !important;
  }
}
.success-toast .toast-wrapper {
  background-color: #E8F5E9;
  .toast-message, .toast-button {
    color: #4CAF50 !important;
    font-family: Montserrat-Medium !important;
  }
}
.info-toast .toast-wrapper {
  background-color: #E1F5FE;
  .toast-message, .toast-button {
    color: #039BE5 !important;
    font-family: Montserrat-Medium !important;
  }
}

/* Loading animation */
.loading-animation .loading-wrapper {
  background-color: white;
  .loading-content {
    color: #42A5F5;
    font-family: Montserrat-Medium;
  }
  ion-spinner * {
    fill: #42A5F5;
  }
}