page-station {

  ion-content {
    color: white !important;
  }

  img {
    width: 30vw;
  }

  h1, h3 {
    font-size: 5vw;
    font-family: Palanquin-Light, sans-serif;
  }
  h2, h4 {
    font-family: Palanquin-Regular, sans-serif;
    font-size: 6vw;
    margin: 0;
  }
  h2 {
    text-transform: lowercase;
  }
  h2:first-letter {
    text-transform: uppercase;
  }
  h3 {
    margin-top: 24px;
  }

}
