page-station {

  ion-content {
    color: white !important;
  }

  img {
    width: 30vw;
  }

  #temperature-container {
    margin-top: 24px;
    h2 { font-size: 6vw; }
    h3 { font-size: 10vw; }
  }
  #station-name-container {
    margin-top: 24px;
    h4 { font-size: 5vw }
    h5 { font-size: 6vw }
  }
  #date-container {
    margin-top: 16px;
    h4 { font-size: 5vw }
    h5 { font-size: 6vw }
  }

  h2, h4 {
    font-family: Palanquin-Light, sans-serif;
    margin: 0;
  }
  h3, h5 {
    font-family: Palanquin-Regular, sans-serif;
    margin: 0 0 8px 0;
  }
  h5 {
    text-transform: lowercase;
  }
  h5:first-letter {
    text-transform: uppercase;
  }

}
