page-favorites {

  ion-content {
    color: white !important;
    font-family: Palanquin-Light, sans-serif;
  }

  ion-item {
    background: linear-gradient(45deg, #536DFE 0%, #b388FF 100%) !important;
    box-shadow: 0 2px 5px rgba(179, 136, 255, 0.3) !important;
    border-radius: 8px !important;
    margin-bottom: 6px !important;
    color: white !important;

    p {
      color: white !important;
    }

    button {
      color: white !important;
      background: transparent !important;
      box-shadow: none !important;
    }
  }

  ion-grid, ion-grid ion-row {
    height: 100% !important;
    ion-col {
      text-align: center;

      h1 {
        font-size: 6vw;
      }

      p {
        text-align: left;
        line-height: 1.4;
        font-size: 5vw;
      }
    }
  }

}
