<ion-header no-border>
  <ion-navbar color="header" [hideBackButton]="true">
    <ion-buttons start>
      <button ion-button icon-only color="lightFab" navPop>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Favoriter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce padding class="gradient-background">

  <ion-grid no-padding *ngIf="favorites.length == 0" id="no-favorites-container" class="page-grid">
    <ion-row align-items-center>
      <ion-col>

        <img src="assets/img/favorites-heart.png" />

        <h1>Du har inga favoritbadplatser</h1>
        <p>
          Hitta badplatser och klicka på hjärtat i det övre högra
          hörnet för att lägga till dem i din lista med favoriter.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="favorites.length > 0">
    <ion-list no-lines>
      <ion-item *ngFor="let favorite of favorites" (click)="onShowPlace(favorite)">

        <ion-avatar item-start>
          <img src="assets/img/swimming-white.png">
        </ion-avatar>

        <h2>
          {{ favorite.data['C6'] }}
        </h2>

        <p>
          {{ favorite.data['C7'] }}, {{ favorite.data['C9'] }} län
        </p>

          <button ion-button icon-only clear item-end (click)="onDeleteFavorite(favorite)">
            <ion-icon name="close-circle" color="clearMain"></ion-icon>
          </button>

      </ion-item>
    </ion-list>
  </div>

</ion-content>
