page-favorites {

  ion-content {
    background: linear-gradient(45deg, #2196f3 0%, #42a5f5 100%);
    color: white !important;
    font-family: Palanquin-Light, sans-serif;
  }

  ion-item {
    background-color: transparent !important;
    color: white !important;

    button {
      color: white !important;
    }
  }

  ion-grid, ion-grid ion-row {
    height: 100% !important;
    ion-col {
      text-align: center;

      h1 {
        font-size: 6vw;
      }

      p {
        text-align: left;
        line-height: 1.4;
        font-size: 5vw;
      }
    }
  }

}
