<ion-header>
  <ion-navbar color="header" [hideBackButton]="true">
    <ion-buttons start>
      <button ion-button icon-only color="lightFab" navPop>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Mina favoriter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce class="gradient-background">

  <ion-grid no-padding *ngIf="favorites.length == 0">
    <ion-row align-items-center>
      <ion-col>
        <h1>Du har inga favoritbadplatser</h1>
        <p>
          Hitta badplatser och klicka på hjärtat i det övre högra
          hörnet för att lägga till dem i din lista med favoriter.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div *ngIf="favorites.length > 0">
    <ion-list no-lines>
      <ion-item *ngFor="let favorite of favorites">

        <ion-avatar item-start>
          <img src="../../assets/img/place.png">
        </ion-avatar>

        <span (click)="onShowPlace(favorite)">
          {{ favorite.data['C6'] }}
        </span>
        <p>
          {{ favorite.data['C7'] }}, {{ favorite.data['C9'] }} län
        </p>

        <button ion-fab mini item-end (click)="onDeleteFavorite(favorite)">
          <ion-icon name="close"></ion-icon>
        </button>

      </ion-item>
    </ion-list>
  </div>

</ion-content>
